
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
}

body{
    background-color: #0A192f;
}
/** navbar **/
.navbar{
    height: 50px;
    width: 100%;
    
    
    
}
ul{
    display: flex;
    justify-content:space-evenly;
}
.nav{
    
    color: #CCd6f6;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
a{
    color: #CCd6f6;
    margin-left: 80px;
    text-decoration: none;
}
i{
    color: #64FFDA;
    font-weight: 700;
    font-size: 30px;
    margin-right: 200px;
    
}

button{
    border: 2px solid #64FFDA;
    width: 90px;
    border-radius: 2px;
    color: #64FFDA;
    background-color: #64FFDA1A;
    margin-bottom: 3px;
}
button:hover {
    background-color: #0A192f;
}

span{
    color: #64FFDA;
}
span:hover{
    border-bottom: 1.5px solid #64FFDA;
}

.border:hover{
    color: #64FFDA;
}

/** main **/
.heading{
    margin: 50px 0px 0px 150px;
}

.ahmad-jajja{
    font-size: 30px;
    font-weight: 800;
    margin-left: 140px;
}

.first-paragraph{
    font-size: larger;
    margin-left: 140px;
}

.ali{
    color: #64FFDA;
}
/** About-section **/
.about-section{
    display: flex;
}

.about-hr{
    width: 350px;
    margin: 20px 0px 0px 300px;
    border-top: 2px solid #8892b0;
}

.about-para{
    width: 1200px;
    height: 530px;
    display: flex;
}

.about-para p{
   font-weight: 700;
    
}

.ahmad-img{
    width: 400px;
    height: 450px;
    background-image: url("/images/Husnainjpg.jpg");
     background-size: cover;
    color: #64FFDA;
    margin-top: 10px;
     margin-left: 4px;
    outline: 2px solid #64FFDA;
    outline-offset: 5px;
}
 .about-list{
    height: 500px;
 }


.about-ul1{
    margin-left:115px;
    list-style-type: none;
    color: #8892b0;

}
.about-ul{
    position: relative;
    left: 370px;
    bottom: 440px;
    list-style-type: none;
}
.about-list li{
    color: #8892b0;
}

.about-list li::before {
    content: "▹";
    color: #64FFDA;
    margin-right: 5px;
}
/** work-section **/

.work-section{
    display: flex;
    height: 750px;
}


.smit-border{
border-left: 2px solid #64FFDA;
margin-left: 150px;
color: #8892b0;
height: 150px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.mern li::before {
    content: "▹";
    color: #64FFDA;
    margin-right: 5px;
}

/** Project-section **/
.Project-section{
    display: flex;
    height: 350px;
    margin-left: 50px;
}


.project-img{
    height: 250px;
    width: 450px;
    margin-right: 300px;
    background-image: url("/images/AIPodcasteGenerator.cf943fff109f713cc4d2.png");
    background-size: cover;
    
}
/** DSA-section **/
.DSA-section{
    display: flex;
    margin-left: 100px;
}



.DSA-img{
    max-width: 100%;
    height: 200px;
    background-image: url("/images/JAVADSA.8c9bdb266568538ad724.png");
    background-size: cover;
    position: relative;
    left: 100px;
    z-index: -1;
    
}

.Java-para{
    width: 370px;
    height: 100px;
    background-color: #172a45;
    text-align: center;
    margin-top: 20px;
}
.Java-para p{
    padding-top: 20px;

}

.Java-para i{
    margin-left: 300px;
    margin-top: 10px;
}

/** Bank-section **/
.Bank-section{
    display: flex;
    margin-top: 120px;
    margin-left: 170px;
}

.bank-data{
    margin-top: 20px;
    margin-left: 20px;
}



.bank-para{
    width: 500px;
    height: 80px;
    background-color: #172a45;
    text-align: center;
    margin-top: 15px;
    position: relative;
    left: 70px;
    
}

.bank-para p{
    padding-top: 20px;
}

.bank-img{
    width: 425px;
    height: 275px;
    background-image: url("/images/BankApp.0bcd60851e9dccf3ad99.png");
    background-size: cover;
    margin-right: 150px;   
}

/** Mobile-section **/
.Mobile-section{
    margin-top: 120px;
    display: flex;
    height: 450px;
}


.mobile-img{
    width: 490px;
    height: 310px;
    background-image: url("/images/RealEstateMobileApp.png");
    background-size: cover;
    margin-left: 120px;

}

.mobile-para{
    width: 340px;
    height: 116px;
    background-color: #172a45;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    right: 70px;
}


.mobile-data i{
    margin-top: 15px;
    margin-left: 170px;
}

/** footer **/
.footer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

    
}

.box{
    height: 370px;
    width: 26%;
    background-color: #172a45;
    color: #CCd6f6; 
    margin-top: 30px;
}
.footer-icons{
    position: absolute;
    
}
#icon-1{
    position: relative;
    left: 10px;
    font-weight: 500;
    
}


#icon-2{
    position: relative;
    left: 100px;
    font-size: large;
}


.button-container{
    text-align: center;
    color: #64FFDA;
    margin-top: 100px;
}
button{
    padding:8px;
}




